<h1>Exercise set
  <% if session[:user_id] != nil %><%= link_to "Add", new_exercise_set_path %> <% end %>
</h1>

<ul>
  <% @exercise_sets.each do |exerciseSet| %>
      <li><%= link_to exerciseSet.name, exerciseSet %> (<%= exerciseSet.exercises.length %>)
        <% if exerciseSet.exercises.length == 0 && exerciseSet.owner.id == session[:user_id] %>
            <%= link_to "X",
                        exercise_set_path(exerciseSet),
                        data: {:confirm => 'Are you sure?'}, :method => :delete %>
        <% end %>

        <% if session[:user_id] != nil %>
        <%= link_to 'Add to training',
                    add_exercise_set_to_training_path(exerciseSet),
                    :method => :post
        %>
        <% end %>
      </li>
  <% end %>
</ul>
