<h1>Listing exercises</h1>

<table>
  <thead>
  <tr>
    <th>Label</th>
    <th>Period</th>
    <th>Next</th>
    <th>DONE</th>
    <th>FAIL</th>
  </tr>
  </thead>
  <% @exercises.each do |exercise| %>
      <tr>
        <td><%= exercise.site %></td>
        <td><%= exercise.chapter %></td>
        <td><%= exercise.number %></td>
        <td><%= exercise.period %></td>
        <td><%= exercise.next %></td>
        <td><%= button_to [:done, exercise] do %> OK <% end %></td>
        <td><%= button_to [:failed, exercise] do %> X <% end %> </td>
      </tr>
  <% end %>

</table>